<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.vtrenea.passthebarrier" android:versionName="1.2" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="25" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<application android:allowBackup="true" android:label="@string/app_name" android:theme="@style/PassTheBarrier.Main" android:icon="@mipmap/ic_barrier_icon_app_logo">
		<service android:name="passTheBarrier.services.smsService" android:enabled="true"></service>
		<receiver android:name="passTheBarrier.broadcastReceivers.serviceRestartReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="passTheBarrier.intents.serviceRestart" />
			</intent-filter>
		</receiver>
	</application>
</manifest>